# databases
data/share.json*
data/whitelist.txt

# dependencies
node_modules/
.venv/

# build artifacts
dist/
build/
share_store.json
__pycache__
*.pyc

# api keys
.env

# test artifacts
measurements.json
.cypress-config/

# populated templates
backend/systemd/aoife.service
backend/nginx/aoife
