repos:
  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx biome lint --write
        language: system
        files: '\.(ts|tsx|js|jsx|css)$'
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
