:root {
  color-scheme: light;
  --text-light: #e5e7eb;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  background-color: transparent;
}

.social-card {
  width: 1280px;
  height: 640px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #1f2933;
  background-image: url("./img/social-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1280px 640px;
}

.social-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 0;
  align-items: center;
}

.social-left,
.social-right {
  display: flex;
  align-items: center;
}

.social-left {
  justify-content: center;
}

.social-right {
  justify-content: flex-end;
  padding-right: 80px;
}

.social-favicon {
  --favicon-size: 440px;
  width: var(--favicon-size);
  height: var(--favicon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-title {
  color: var(--text-light);
  font-size: 200px;
  font-weight: bold;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  line-height: 1;
  text-align: right;
}
