.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
  border: none;
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease;
  margin: 8px;
  padding: 2px;
  border-radius: 6px;
}

.close-button:hover {
  transform: scale(1.1);
  background-color: rgba(236, 18, 0, 1);
  color: rgba(255, 255, 255, 0.75);
}

.close-button:focus {
  outline: none;
  background-color: rgba(236, 18, 0, 1);
}

.close-button svg {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.close-button:hover svg {
  filter: drop-shadow(0px 0px 3px rgba(236, 18, 0, 0.8));
}
